USE [master]
GO
/****** Object:  Database [SharanBaradi]    Script Date: 3/25/2019 6:24:23 PM ******/
CREATE DATABASE [SharanBaradi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SharanBaradi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\SharanBaradi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SharanBaradi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\SharanBaradi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SharanBaradi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SharanBaradi]
GO
USE [SharanBaradi]
GO
/****** Object:  Table [dbo].[DupKeys]    Script Date: 3/25/2019 6:24:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DupKeys](
	[ID] [int] NULL,
	[name] [varchar](50) NULL,
	[DeptID] [int] NULL,
	[ClassId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MyKeys]    Script Date: 3/25/2019 6:24:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MyKeys](
	[ID] [int] NOT NULL,
	[name] [varchar](50) NULL,
	[DeptID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[table1]    Script Date: 3/25/2019 6:24:31 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[table1](
	[Company_ID] [int] NULL,
	[Company_Name] [varchar](50) NULL,
	[Company_City] [varchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[table2]    Script Date: 3/25/2019 6:24:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[table2](
	[ITEM_ID] [int] NULL,
	[ITEM_NAME] [varchar](50) NULL,
	[ITEM_UNIT] [int] NULL,
	[COMPANY_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[table3]    Script Date: 3/25/2019 6:24:32 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[table3](
	[Company_Name] [varchar](max) NULL,
	[Company_City] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tablename]    Script Date: 3/25/2019 6:24:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tablename](
	[Age] [int] NULL,
	[Name] [varchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
