
/*
USE Sharan;  
CREATE TABLE Clients(ClientID int,ClientName varchar(255),Email varchar(255),Contact Real,Country varchar(255),City varchar(255));
INSERT INTO Clients(ClientID,ClientName,Email,Contact,Country,City) 
Insert INTO CLients Values(,'','',,'','');
VALUES(101,'Sharan','Sharan@gmail.com',9999988888,'India','Hyderabad');
ALTER TABLE Clients DROP COLUMN Contact;
UPDATE Clients SET Contact=9999988888 WHERE ClientID=101;

Insert INTO CLients(ClientID,ClientName,Email,Contact,Country,City) Values(105,'Mahesh','Maheshwari@gmail.com',9848224848,'Zambia','Zamb');
Insert INTO CLients(ClientID,ClientName,Email,Contact,Country,City) Values(103,'Arun','Aruna@hmail.com',9100091000,'Egypt','Egy');
Insert INTO CLients(ClientID,ClientName,Email,Contact,Country,City) Values(107,'Kaushik','Kasak@gmail.com',9595595959,'France','Paris');
Insert INTO CLients(ClientID,ClientName,Email,Contact,Country,City) Values(102,'Likith','Likki@gmail.com',8988955565,'india','chennai');
Insert INTO CLients(ClientID,ClientName,Email,Contact,Country,City) Values(104,'Srikanth','Sriku@gmail.com',0505050505,'NewZealand','Zealan');
Insert INTO CLients(ClientID,ClientName,Email,Contact,Country,City) Values(108,'Lohith','Lohi@yahoo.com',0324820120,'Italy','Momo');
--ALTER TABLE Clients DROP COLUMN Contact;
--ALTER table Clients ADD column Contact BIGINT AFTER Email;

SELECT * From Clients  order by  Clientid;
*/

SELECT * FROM sys.database_files;